*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(235, 235, 226);
}

@font-face {
    font-family: Italianno;
    src: url("../fonts/Italianno-Regular.ttf");
}

.encabezado{
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
}

.encabezado span{
    font-size: 3rem;
    font-family: 'Italianno', cursive;
    color: #D45698;
}


.redes ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.redes ul li{
    position: relative;
    display: inline-block;
}

.redes ul li a::before{
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0.4rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    color: #e082a8;
}

.redes ul li a[href*="facebook.com"]::before{
    content: '\f230';
}

.redes ul li a[href*="twitter.com"]::before{
    content: '\f081';
}

.redes ul li a[href*="instagram.com"]::before{
    content: '\f16d';
}

.redes ul li a[href*="pinterest.com"]::before{
    content: '\f0d2';
}

.redes ul li a[href*="youtube.com"]::before{
    content: '\f16a';
}



/** PARTE NAVEGACION **/

.navegacion {
    background: #FE56B5;
}

.nav-principal .navbar-brand, 
.nav-prinvipal .navbar-brand:hover{
    color: #ffffff;
}

.nav-principal{
    background-image: url(../images/borde-horizontal.png),
                        url(../images/borde-horizontal.png);
    background-repeat: repeat-x;
    background-position: 0px top, 0px bottom;
}

.nav-link {
    color: #882D60;
    font-size: 1.7rem;
    transition: background-color .8s ease-in-out;
}

.nav-link:hover{
    background-color: #D45698;
    color: #ffffff; 
}

.nav li:hover{
    background-color: #D45698;
    color: #ffffff; 
}


/** PARTE SERVICIOS **/

.imagen-servicio img{
    border: 6px solid #ffffff;
    -webkit-transition: tranform .3s ease;
    -ms-transition: transform 3.s ease;
    transition: transform .3s ease; /** le doy un poco de fluidez al rotate transform de hover **/
}


.imagen-servicio img:hover{
    transform: scale(1.2) rotate(5deg);
    -webkit-transform: tranform .3s ease;
    -ms-transform: transform 3.s ease;
}

.info-servicio{
    background-color: #ffffff;
    margin-top: -5rem;
}

.info-servicio .btn-primary{
    border-radius: 0;
    background-color: #D45698;
    border: none;
}

.cartelera {
    background: yellow;
    margin: -5rem;
    background-color: #ffffff;
}

.imagen-fondo img:hover{
    transform: scale(1.2) rotate(5deg);
    -webkit-transform: tranform .3s ease;
    -ms-transform: transform 3.s ease;
}

.imagen-fondo img{
    transition: transform .3s ease; /** le doy un poco de fluidez al rotate transform de hover **/
    -webkit-transition: tranform .3s ease;
    -ms-transition: transform .3s ease;
}

.row-horarios {
    justify-content: center;
}

.seccion-horarios {
    background-color: #65AEA4;
    font-family: 'Lato', sans-serif;
}

.seccion-horarios h2{
    font-family: 'Lato', sans-serif;
    font-size: 2.6rem;
}

.seccion-horarios .table {
    border: 2px solid #D45698;
}

.encabezado-horarios table thead{
    background-color: #D45698;
}

.encabezado-horarios table thead th,
.encabezado-horarios table td{
    border: none;
}

.encabezado-horarios table tbody td{
    padding: .2rem;
}


/** PRODUCTOS **/

.productos {
    border: none;
}

.productos .card{
    border: none;
}

.productos h3{
    color: #D45698;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.productos a{
    text-decoration: none;
}

.productos p{
    font-size: 0.7rem;
    color: black;
}

.productos .card .precios{
    color: dimgrey;
    font-size: 1.5rem;
}

/** CITAS **/

.citas {
    background-image: url(../images/citas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.citas {
    color: #ffff;
}

.citas h3{
    font-size: 2.3rem;
    font-family: 'Lato', sans-serif;
    margin-top: 5rem;
}

.citas p{
    line-height: 2rem;
}

.btn {
    background-color: #D45698;
    border: none;
}

.btn:hover {
    background-color: #882D60;
    border: none;
    transition: background-color .4s ease;
}



@media (min-width: 990px){
    .citas{
        background-size: cover;
    }
}

/** FOOTER **/

.copyright {
    font-size: 0.7rem;
    color: darkgray;
}

/** NOSOTROS **/

.hero {
    position: relative;
}

.hero h2{
    position: absolute;
    bottom: 2rem;
    right: 0;
    background-color: #D45698;
    font-family: 'Lato', sans-serif;
    color: #ffff;
    font-weight: 900;
}



.imagenes img {
    width: 160px;
    height: 160px;
}

.contenido-principal p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.sidebar .table {
    border: 2px solid #D45698;
}

.sidebar table thead{
    background-color: #D45698;
}

.sidebar table thead th,
.sidebar table td{
    border: none;
}

.sidebar table tbody td{
    padding: .2rem;
}
